@model IQueryable<Product>
@* o data model das razor views é sempre nullable, daí o uso do null-coalescing operator *@
@foreach (var p in Model ?? Enumerable.Empty<Product>())
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}